/* Link */

.link_underline {
  color: var(--accent-color);
  text-decoration: underline;
}

/* /Link */

/* CheckBox */

.checkbox {
  /* margin: top horizontal bottom; */
  margin: 20px 12px 30px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__label {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  border: 1px solid var(--dark-text);
  border-radius: 2px;
  transition: background-color 75ms, border-color 75ms, box-shadow 300ms;
  margin-right: 8px;
}

.checkbox__input:checked + .checkbox__label {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox__input:focus + .checkbox__label {
  /* outline: auto; */
  /* border-color: var(--accent-color); */
  box-shadow: 0px 0px 0px 2px var(--accent-color);
}

.checkbox__icon {
  opacity: 0;
  transition: opacity 75ms;
}

.checkbox__input:checked + .checkbox__label > .checkbox__icon {
  opacity: 1;
}

.checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--light-text);
  user-select: none;
}

/* /CheckBox */

/* Modal */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;

  opacity: 0;
  transform: translateY(-50px);
  /* transform: translateY(50px); */
  /* transform: translateX(50px); */
  /* transform: translateX(-50px); */
  /* transform: scale(0.8); */
  transition: opacity 300ms, transform 300ms;
}

.modal_open {
  opacity: 1;
  transform: translateY(0);
  /* transform: scale(1); */
}

.modal__content {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s;
}

.modal__close:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__submit {
  padding-left: 58px;
  padding-right: 58px;
  display: block;
  margin: 0 auto;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-field__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--light-text);
  margin-bottom: 4px;
}

.form-field__control {
  position: relative;
}

.form-field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form-field__input {
  padding: 11px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  transition: border-color 75ms;
  font-family: "Roboto";
}

.form-field__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-field__icon path {
  transition: fill 75ms;
}

.form-field__input:focus + .form-field__icon path {
  fill: var(--accent-color);
}

textarea.form-field__input {
  resize: vertical;
}

.form-field__input_icon-left {
  padding-left: 34px;
}

.btn_2:disabled {
  background-color: #ccc;
  cursor: default;
}

/* /Modal */


/* header */

.header_portfolio {
  background: url(/project/img/head_portfolio.png) center/cover no-repeat;
  height: 661px;
}

.info_header_portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 68px;

  color: #e6e8ef;
}

/* header */

/* Clients */

.clients {
  margin-bottom: 94px;
}

.clients__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  transition: border-color 0.3s;
}

.clients__link path {
  transition: fill 0.3s;
}

.clients__link:hover path {
  fill: var(--accent-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: #03115f;
}

/* Clients */

/* portfolio */
.title__items {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;

  color: #35417f;

  margin-top: 4px;
}

.text__items {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-top: 4px;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 40px;
}

.portfolio-items {
  margin-bottom: 40px;
  transition: all 0.3s ease;
}

.portfolio-items:hover{
  -webkit-box-shadow: 0px 9px 8px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 9px 8px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 9px 8px 2px rgba(34, 60, 80, 0.2);
}

.portfolio-items img {
  width: 700px;
  height: 800px;
}

.portfolio_projects {
  margin-top: 180px;
  margin-bottom: 94px;
}
/* portfolio */

/* Communication */
.communic_par {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 68px;

  color: #e6e8ef;
}
.communic_info {
  background: url(/project/img/com_bg.png) center/cover no-repeat;
  height: 820px;
  padding-top: 280px;
}

.communic_up_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 325;
  font-size: 26px;
  line-height: 32px;

  color: #dddde2;
}
/* Communication */
